:root {
    overflow: hidden;
    font-family: "Century Gothic", sans-serif;
    background-color: rgb(64, 179, 224);
}

.slide {
    height: 100vh;
    width: 100vw;
    margin-bottom: 20px;
}   

h1 {
    text-align: center;
    font-size: 400%;
}

p, li {
    font-size: 250%;
}

button {
    font-size: 300%;
    position: fixed;
}

#termin {
    width: 500px;
    height: 550px;
    display: block;
    margin: auto;
}

#example {
    display: block;
    margin:auto;
    margin-top: 50px; 
    width: 50%;
    height: 50%;
}

#praktisk {
    display: block;
    margin: auto;
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
}

#praktisk img {
    width: 25%;
    height: 25%;
}

#layout {
    width: 100%;
}

#introHeader {
    font-style: italic;
}

#a {
    background-image: url("images/background_intro.png");
    background-size:contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade {
    animation: fadein 2s;
}