:root {
    overflow: hidden; /* skjuler scrollbar, stopper kontroll med datamus */
    font-family: "Century Gothic", sans-serif;
    background-color: rgb(64, 179, 224);
}

.slide {
    height: 100vh; /*vh = view height. vw = view width. */
    width: 100vw; /* denne og linjen over sier at hver "slide" skal dekke hele browser-vinduet */
    margin-top: 2000px; /* avstand mellom slides, safety measure */
}   

h1 {
    text-align: center;
    font-size: 400%;
}

p, li {
    font-size: 250%;
}

#termin {
    width: 500px;
    height: 550px;
    display: block;
    margin: auto;
}

#example {
    display: block;
    margin:auto;
    margin-top: 50px; 
    width: 50%;
    height: 50%;
}

#container {
    display: flex;
    margin-right: 10%;
}

#praktisk {
    display: block;
    margin: auto;
    width: 100%;
    padding: 5%;
    display: flex;
    justify-content: center;
}

#praktisk img {
    width: 25%;
    height: 25%;
}

#layout {
    width: 100%;
}

#introHeader {
    font-style: italic;
}

#a {
    background-image: url("images/background_intro.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.fade {
    animation: fadein 2s; /*Jeg bruker JS for å gjøre at denne animasjonen spiller hver gang man går til neste slide */
}